.edit-page__card {
    background: #E1F5FE;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    margin: 20px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
