@import url('styles/pages/AuthPage.css');
@import url('styles/pages/EditPage.css');
@import url('styles/components/Navbar.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
}

.table__item {

}

.table__item:hover {
  background: #B3E5FC;
}

.input__wrapper {
  margin: 20px 0;
}

.title {
  font-size: 32px;
}


